## Data Storytelling
Data storytelling is a method used to convey information by combining data, visualization, and narrative in one unit.
### Why Use Data Storytelling?
#### - Presenting data in a more interesting and understandable way.
By presenting data in the form of a narrative/story, stakeholders can more quickly and easily understand the information presented.

#### - Helps communication
With data storytelling, data analysts can ensure that everyone, regardless of their background and technical knowledge, can understand the data well

#### - Improving decision-making
By understanding the story behind the data, decision makers (such as executives or managers) can make more informed decisions based on facts

#### -Attract attention and engagement
Using data storytelling, analysts can increase the engagement and participation of non-technical stakeholders in data-driven discussions and decision-making.-making.

### Example:

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('covid.csv')

In [3]:
df.head()

,Country/Other,Total Cases,Total Deaths,Total Recovered,Active Cases,Tot Cases/ 1M pop,Deaths/ 1M pop,Total Tests,Tests/ 1M pop,Population
0,Afghanistan,225850,7946,206436.0,11468.0,5542,195,1305526.0,32034.0,40754388
1,Armenia,449357,8751,435162.0,5444.0,151199,2945,3242901.0,1091164.0,2971966
2,Azerbaijan,832580,10302,822131.0,147.0,80831,1000,7680488.0,745664.0,10300205
3,Bahrain,728053,1573,726036.0,444.0,408105,882,10919039.0,6120596.0,1783983
4,Bangladesh,2045517,29477,1998448.0,17592.0,12184,176,15254399.0,90862.0,167885689

In [4]:
df.describe()

,Total Cases,Total Deaths,Total Recovered,Active Cases,Tot Cases/ 1M pop,Deaths/ 1M pop,Total Tests,Tests/ 1M pop,Population
count,5.000000e+01,50.000000,4.700000e+01,47.000000,50.000000,50.000000,4.800000e+01,4.800000e+01,5.000000e+01
mean,4.414706e+06,30994.100000,3.532997e+06,43784.127660,160728.260000,700.580000,4.996582e+07,1.942359e+06,9.422714e+07
std,9.245461e+06,80053.019413,8.146371e+06,148478.340143,187123.306505,777.336402,1.379085e+08,3.412930e+06,2.809444e+08
min,1.194500e+04,21.000000,3.487000e+03,0.000000,347.000000,3.000000,7.850000e+03,7.553000e+03,4.454310e+05
25%,3.327538e+05,1946.000000,3.113270e+05,189.500000,24567.500000,186.750000,3.088198e+06,2.034480e+05,5.329380e+06
50%,9.224515e+05,9198.500000,8.279230e+05,3630.000000,80201.000000,542.500000,1.140595e+07,6.918590e+05,1.818684e+07
75%,3.860411e+06,23905.000000,2.670878e+06,14034.500000,197419.250000,878.750000,3.708760e+07,1.909137e+06,4.903867e+07
max,4.499829e+07,531930.000000,4.446578e+07,939553.000000,697127.000000,4317.000000,9.307980e+08,1.991039e+07,1.448471e+09

COVID-19 is an infectious disease caused by the newly  discovered  This new virus and the disease it causes were unknown before the start of the  outbreak in Wuhan, China, in December 2019. COVID-19 has become a pandemic that occurred in many countries around the world.
    In the analysis of COVID-19 data from several selected countries, there are approximately 50 million total covid cases in the world. The average total deaths were 31 thousand, where the lowest number of deaths was 21 out of a total of 62 thousand cases in Bhutan. On the other hand, India stands out with the highest number of deaths, reaching a total of 532 thousand deaths from . Although India has the largest population among the selected countries, the high testing effort with 930 million tests shows commitment in handling the pandemic. However, the complexity of handling the pandemic in India is compounded by the large scale of the population. This highlights the importance of an adaptive and effective coping strategy in the face of the COVID-19 pandemic.
    India's high testing and population suggest continued COVID-19 challenges. Without effective containment and vaccination, cases and deaths may rise. Other countries with successful vaccination efforts may see declines, but new variants could alter outcomes globally.