Import some libraries that will be needed

In [1]:
import pandas as pd
from scipy import stats
from statsmodels.stats import weightstats as stests

load the csv data

In [2]:
df = pd.read_csv('blood_pressure.csv')

In [3]:
df.head()

   patient   sex agegrp  bp_before  bp_after
0        1  Male  30-45        143       153
1        2  Male  30-45        163       170
2        3  Male  30-45        153       168
3        4  Male  30-45        153       142
4        5  Male  30-45        146       141

In [4]:
df[['bp_before', 'bp_after']].describe()
df.head(5)

   patient   sex agegrp  bp_before  bp_after
0        1  Male  30-45        143       153
1        2  Male  30-45        163       170
2        3  Male  30-45        153       168
3        4  Male  30-45        153       142
4        5  Male  30-45        146       141

In [5]:
df.shape

(120, 5)

###### Paired sampled T-test

The paired sample t-test is also called dependent sample t-test. it's an uni variate test that tests for a significant difference between two related variables. An example of this is if you where to collect the blood pressure for an individual before and after some treatment, condition, or time point.

H0 : means difference between two sample is 0

H1 : mean difference between two sample is not 0

In [6]:
ttest, pval = stats.ttest_rel (df['bp_before'], df['bp_after'])
print(pval)

0.0011297914644840823

In [7]:
if pval < 0.05 :
    print ('reject null hypothesis')
else :
    print ('accept null hypothesis')

reject null hypothesis

#### another example

In [8]:
df = pd.read_csv('Golf.csv')

In [9]:
df.head()

   Current  New
0      264  277
1      261  269
2      267  263
3      272  266
4      258  262

In [10]:
df[['Current', 'New']].describe()
df.head()

   Current  New
0      264  277
1      261  269
2      267  263
3      272  266
4      258  262

In [11]:
df.shape

(40, 2)

H0 : means difference between two sample is 0

H1 : mean difference between two sample is not 0

In [12]:
ttest, pval = stats.ttest_rel (df['Current'], df['New'])
print(pval)

0.20916361823147053

In [13]:
if pval < 0.05 :
    print ('reject null hypothesis')
else :
    print ('accept null hypothesis')

accept null hypothesis